<div class="well" style="margin-right:auto; margin-left:auto;">
<h1 class="text-center">Dashboard</h1>

<% if partner_signed_in? %>

		<%= image_tag(current_user.store.image_url(:avatar).to_s, class: 'img-circle') if current_user.store.image? %>

		<div class="bio">
			<h3><%= current_user.store.brand_name %></h3>
			<h5>@<%= current_user.username %></h5>
			<h5><%= current_user.store.brand_bio %></h5>
			<h5><strong>0</strong> following &nbsp; &nbsp; <strong>10k</strong> followers</h5>
		</div>

		<strong><%= Time.now.strftime("%d %b %Y") %></strong>	

				
				<h2 class="text-center">Orders</h2>
				
				<% current_user.orders.where(:order => @order.line_items).each do |order| %>
					
					<%= order.name %>
					<%= order.email %>

				<% end %>


				
<% else %>

<%= redirect_to root %>


</div>
<% end %>