<!DOCTYPE html>
<html>

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="nav">
	</div>

	<div class="jumbotron">
<h1>Your Cart</h1>


<% if @cart.empty? %>

<p>Your cart is currently empty</p>

<% else %>

<btn class="empty-btn">
	<%= link_to 'empty cart', cart_clear_path %>
</btn>

<% end %>

<br><br>

<% total = 0 %>

<% @cart.each do |id, quantity| %>

<% product = Product.find_by_id(id) %>
<ul style="list-style-type: none; display: float;">
	<li>
	<p><%= image_tag product.image_url(:thumb).to_s %></p>
	<p><%= number_to_currency(product.price, :unit => '£') %></p>
	<p><%= product.title%></p>
	<p>Quantity:<%= quantity %></p>
</li>
</ul>

<% total += quantity * product.price %>

<div class="shop btn">
<% link_to 'Continue Shopping', products_path %>
</div>

<% end %>

<p><b>Total: <%= number_to_currency(total, :unit => '£') %></b></p>

</div>

</body>

</html>
