<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @store.product_id %>
</p>

<p>
  <strong>Product quantity:</strong>
  <%= @store.product_quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @store.image_url %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
