<div class="panel panel-default" style="max-width:600px; max-height:auto; margin-left:auto;margin-right:auto;">
<div class="panel-heading">
<h2 class="panel-title text-center">Edit Profile</h2>
</div>

<div class="panel-body edit-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>  

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <br><i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <br><i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <%= f.fields_for :store do |sf| %>
        <%= sf.hidden_field :id %>
        <div class="field">
          <%= sf.label :image %><br>
          <%= sf.file_field :image %>
        </div>

        <% if resource.store.image? %>

            <div class="field">
              <%= image_tag(resource.store.image_url(:avatar).to_s, class: 'img-circle') %>
              <%= sf.hidden_field :image_cache %>
            </div>

            <div class="field">
                <%= sf.label :remove_image %>
                <%= sf.check_box :remove_image %>
            </div>
        <% end %>

        <div class="field">
          <%= sf.label :brand_bio %><br>
          <%= sf.text_area :brand_bio %>
        </div>

      <div class="field">
        <%= sf.label :brand_name %><br />
        <%= sf.text_field :brand_name %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>

      <% end %>
  </div>
     
<% end %>
</div>

<br><br>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


