<div class="panel panel-default" style="max-width:1000px; margin-right:auto; margin-left:auto;">
<div class="panel-heading">
<h2 class="panel-title">Your Cart</h2>
</div>
	<%= render(@cart.line_items) %>

<ul class="total_line">
	<li class="label">Total</li>
	<li class="total_cell"><%= number_to_currency(@cart.total_price, unit: '£') %></li>
</ul>

<br><br>
<%= link_to 'Continue shopping', root_url, class: 'btn btn-default' %>
<br><br>
<div class="action">
	<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default empty_cart' %><br>

	<%= button_to "Checkout", new_order_path, method: :get, class: 'btn' %>
</div>
<br>

</div>