<%= image_tag @partner.image_url(:avatar).to_s, class: 'img-circle' %> 
<div class="info">
	<h4>@<%= @partner.username %></h4>
	<h4><%= @partner.name %></h4>
	<h5><%= simple_format(@partner.bio) %></h5>

</div>

<div class="well" style="max-width:900px; margin-left:auto;margin-right:auto;margin-top:40px;">
	<% @partner.products.in_groups_of(3, false).each do |group| %>
	  <div class="row">
	    <% for product in group %>
	      <%= render product %>
	    <% end %>
    </div>
	<% end %>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="application.js"></script>