<% if user_signed_in? && current_user.store %>
	<%= image_tag(@partner.image_url(:avatar).to_s, class: 'img-circle') if @partner.image? %>
	<div class="bio">
		<h3><%= @partner.name %></h3>
		<h5>@<%= @partner.username %></h5>
		<h5><%= simple_format(@partner.bio) %></h5>
	</div>
	<div class="well" style="max-width:900px; margin-left:auto;margin-right:auto;margin-top:40px;">
		<% @products.in_groups_of(3, false).each do |group| %>
		  <div class="row">
		    <% for product in group %>
		      <%= render product %>
		    <% end %>
		  </div>
		<% end %>
	</div>
	<br />
	<div class="text-center">
		<%= link_to 'New Product', new_product_path, class: 'btn' if current_user.personal_profile?(params[:username]) %>
	</div>

<% else %>
	<%= render 'profile' %>
<% end %>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="application.js"></script>